<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{general/fragmentos :: head}"></head>

    <body>
        <!-- 1. Fragmento para Agregar rol -->
        <section th:fragment="agregar">
            <div class='row py-4 mb-2 bg-light'>
                <div class='col-md-1'></div>
                <div class='col-md-3'>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#agregarRolModal">
                        <i class="fa-solid fa-plus"></i> [[#{role.agregar}]]
                    </button>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="agregarRolModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header bg-info text-white">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">
                                <i class="fa-solid fa-id-badge"></i> [[#{role.agregar}]]</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form th:action="@{/rol/guardar}" th:object="${rol}" class="was-validated" method="post">
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label>[[#{role.rol}]]</label>
                                    <input type="text" th:field="*{nombre}" maxlength="20" class="form-control" required="true" placeholder="Ej: ROLE_ADMIN"/>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                    <i class="fa-solid fa-xmark"></i> [[#{accion.cerrar}]]
                                </button>
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa-solid fa-floppy-disk"></i> [[#{accion.guardar}]]
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <!-- 2. Fragmento para el listado de roles -->
        <section th:fragment="listado" class="p-3">
            <div class="row p-3">
                <div class="col-md-9">
                    <div class="card p-2">
                        <div class="card-header"><h4>[[#{role.listado}]]</h4></div>
                        <div class="card-body">
                            <div th:if="${roles != null and !roles.empty}">
                                <table class="table table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>[[#{role.rol}]]</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="r : ${roles}">
                                            <td th:text="${r.idRol}"></td>
                                            <td th:text="${r.nombre}"></td>
                                            <td>
                                                <button type="button" class="btn btn-danger"
                                                        data-bs-toggle="modal" data-bs-target="#confirmModal"
                                                        th:data-bs-id="${r.idRol}"
                                                        th:data-bs-descripcion="${r.nombre}">
                                                    <i class="fa-solid fa-trash"></i> [[#{accion.eliminar}]]
                                                </button>
                                                <a th:href="@{/rol/modificar/} + ${r.idRol}" class="btn btn-warning">
                                                    <i class="fas fa-pencil-alt"></i> [[#{accion.actualizar}]]
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center p-2" th:if="${roles == null or roles.empty}">
                                <span>[[#{lista.vacia}]]</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card text-center bg-success text-white mb-3">
                        <div class="card-body"><h3>[[#{role.total}]]</h3>
                            <h4 class="fs-2"><i class="fas fa-id-badge"></i> [[${totalRoles}]]</h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- 3. Fragmento para editar rol -->
        <section th:fragment="editar">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <form method="POST" th:action="@{/rol/guardar}" th:object="${rol}" class="was-validated">
                        <input type="hidden" th:field="*{idRol}"/>

                        <div class="row py-4 mb-4 bg-light">
                            <div class="col-md-4 d-grid">
                                <a th:href="@{/rol/listado}" class="btn btn-primary">
                                    <i class="fas fa-arrow-left"></i> [[#{accion.regresar}]]
                                </a>
                            </div>
                            <div class="col-md-4 d-grid">
                                <button type="submit" class="btn btn-success">
                                    <i class="fas fa-check"></i> [[#{accion.guardar}]]
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="card">
                                    <div class="card-header"><h4>[[#{accion.actualizar}]]</h4></div>
                                    <div class="card-body">
                                        <div class="mb-3">
                                            <label>[[#{role.rol}]]</label>
                                            <input type="text" th:field="*{nombre}" maxlength="20" class="form-control" required="true"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>

        <!-- 4. Fragmento para confirmar eliminación -->
        <section th:fragment="confirmarEliminar">
            <div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <form th:action="@{/rol/eliminar}" method="post">
                            <input type="hidden" name="idRol" id="modalId"/>

                            <div class="modal-header bg-warning text-white">
                                <h5 class="modal-title">[[#{accion.confirmar}]]</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                            </div>
                            <div class="modal-body">
                                <p>[[#{accion.confirmar.texto1}]] <span id="modalDescripcion"></span>?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-danger">[[#{accion.eliminar}]]</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">[[#{accion.cerrar}]]</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>